;; shadow-cljs configuration
{:dependencies []
 :dev-http
 {8020 "public"}
 :nrepl    {:port 9000
            :host "0.0.0.0"}
 :builds {:main {:target :browser
                 :output-dir "public/js"
                 :asset-path "/js"
                 :js-options {:js-provider :external
                              :external-index "external/src/index.js"
                              :external-index-format :esm
                              :allow-nested-packages false}
                 :release    {:compiler-options {:optimizations :advanced}
                              :output-feature-set :es6
                              :build-options {:manifest-name "assets.edn"}}
                 :modules
                 {:main ; becomes public/js/main.js
                  {:init-fn co-who.app/init}}}}}
